http-server:
    port: 8080
    name: jetty
    maxIdleTime: 30000
    threadPool: 16
    threadPool-minThreads: 10
    threadPool-maxThreads: 100
    acceptQueueSize: 1000
    acceptorsSize: 4

http-utils:
    connect-timeout-inseconds: 120
    read-timeout-inseconds: 120

database-sql:
    driver-class-name: com.mysql.jdbc.Driver
    jdbc-url: jdbc:mysql://localhost:3306/mc536
    username: root
    password: admin
    acquire-increment: 5
    idle-connection-test-period: 60
    max-pool-size: 10
    min-pool-size: 3
    max-statements: 5

recommendation:
    limit: 10
    min_score: 0.0
    weight:
        skills_cos: 17
        rankings_cos: 2
        rankings_f: 1
    grade:
        like: 1
        dislike: -1