body{
    overflow: hidden;
}

.nav-items{
    margin-right: 15px;
    color: white;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-brand {
	padding: 0;
    margin-left: 25px;
    height: 100%;
}

.annuler{    
    background-color: white;
    border-color: #CCCCCC;
    color: #9F99A1;
}

.annuler:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;
}

.optionCarteItem {
    color: white;
    display: inline;
}

.optionCarteItem > i {
    text-shadow:-1px 0 rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.3), 1px 0 rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.optionCarteItem > i:hover{
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px 1px black;
}

.open-filter{
    width: 250px;
}

.pointType{
    padding: 10%;
    font-weight: bold;
    margin: 2%; 
    background-color:rgba(239, 101, 48, 0.8);
    color:white;  
}

.pointType:hover, .pointType.active{
    background-color: #EF6530;
    color: white;
}

#nav {
    background-color: #595757;
    border-radius: 0;
    margin-bottom: 0;
}

#inscriptionPanel .valider{
    background-color: #13BC3E;   
    border-color: #CCCCCC;
    color: #666666;
    opacity: 0.9;
}

#inscriptionPanel .valider:hover{
    opacity: 1;
}

#container{
    position: relative;
}

#signinButton.active ,#signinButton.active > a, #signinButton:hover{
    background-color:#00A286;
}

#connectButton.active ,#connectButton.active > a, #connectButton:hover{
    background-color: #EF6530;
}

#inscriptionPanel{
    position:absolute;
    top:52px;
    right: 30px;
    width:25%;
    z-index:1000;
}

#optionsCarte .panel{
    position:absolute;    
    right: 0;
    z-index:900; 
    background-color: rgba(0, 0, 0, 0.5);
}

#optionsCarte > i{
    padding: 5px;
}

#optionsCarte .panel-body{
    margin: -10px 6px -13px ;
}

#optionUtilisateur{
    top: 30px;
}

#visibilityFilter{
    top: 80px;
}

#dateFilter{
    top: 130px;
}

#categoryFilter{
    top: 180px;
}

#onFireButton.active{
    color:#FC3A37;
}

#freshButton.active{
    color:#5DC9F1;
}

#allButton.active{
    color:#EEE544;
}

#searchButton.active {
    color:#77FE7B;
}

#searchInput{
    margin-bottom: 5px;
}

#categoryFilterTree{
    max-height: 300px;
    overflow: auto;
}

#categoryTreeView, #categoryTreeView ul, #categoryTreeView .fancytree-title,span.fancytree-node.fancytree-active {
    border-color: transparent;;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#brandImg {
	height: 100%;
	width: auto;
    margin-left:15%;
}

#map-container{
    position: relative;
  /*  width: 100vw;
    height: 100vw;*/
    width: 100%;
    padding-bottom: 30%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

#map-container #map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}


#appAlert{
    position:absolute;
    opacity: 0.9;
    z-index:900;
}

#commentzone
{
    list-style-type: none; /* on annule la puce par défaut */
    background-position: left; /* on positionne où l'on veut */
    display:block;
    max-width: 200px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px; 

}

#content
{
    background-color: rgba(0, 0, 0, 0.5);
    display:block;
}
.comment-list-item
{
    background-color: rgb(220, 220, 220);
    display:block;
    max-width: 200px;
}

.comment-list
{
    background-color: rgb(240, 240, 240);
    list-style-type:none;
    padding-left: 3px; 
    padding-right: 3px; 
    display:block;
}

.like, .dislike, .unlike
{
    padding: 4px 4px 4px 4px; 
    cursor: pointer;
}
.like
{
    margin-right: 10px;
    margin-bottom: 10px;
}
